@charset "ISO-8859-1";

html {
    height: 100%;
}

#span {
	color: #5c6c7c;
}

/* LOGIN PAGE STYLING */
.login-page {
	background-position: center center;
	background-size: cover;
	font-family: arial;
}

#login-container {
	width: 500px;
	margin: 50px auto;
	padding: 80px;
	background: #eeeeee;
	border-radius: 30px;
}

#login-title {
	font: bold 30px arial, calibri;
	text-align: center;
	color: #7b8389;
}

label.login-label {
	color: #d28257;
	font-size: 17px;
}

#login-username, #login-password {
	width: 100%;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}

#loginbtn {
	background-color: #b3c3ce;
	color: white;
	font-weight: 600;
	font-size: 18px;
	padding: 15px 20px;
	cursor: pointer;
	width: 100%;
}

#register-hyperlink {
	color: #d28257;
}

/* REGISTER PAGE STYLING */
.register-page {
	
	background-position: center center;
	
	background-size: cover;
	font-family: arial;
}

#register-container {
	width: 500px;
	margin: 30px auto;
	padding: 50px;
	background: gray;
	border-radius: 30px;
}

#register-title {
	font: bold 30px arial, arial;
	text-align: center;
	color: black;
}

label.register-label {
	color: black;
	font-size: 17px;
}

#firstname, #lastname, #email, #username, #password {
	width: 100%;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}

#pattern {
	color: black;
}

#registerbtn {
	background-color: lightblue;
	color: white;
	font-weight: 600;
	font-size: 18px;
	padding: 15px 20px;
	cursor: pointer;
	width: 100%;
}

#login-hyperlink {
	color: blue;
}
